.controller {
    display:grid;
    grid-template-columns: 1fr 100px;
    grid-gap: var(--dash-grid-gap);
    .remoteControl {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: var(--dash-grid-gap);
        grid-column: 2;
        .remoteButton {
            border-radius: 10px;
            border: solid 2px #666;
            background-color: rgba($color: #111, $alpha: 0.2);
            > div.center {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .active {
            background-color: rgba($color: #111, $alpha: 0.5);
        }
    }
}

.mediaInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    grid-gap: var(--dash-grid-gap);

    .label {
        font-size: 20pt;
        color: var(--dash-color-inactive);
        border-bottom: 1px solid;
    }
    .info {
        background-color: rgba($color: #111, $alpha: 0.9);
        grid-column: 2 / 4;
        color: var(--dash-color-active);
        border-radius: 10px;
        border: solid 2px #666;
        padding-left: 10px;
    }
    .albumCover {
        grid-column: 1 / 4;
        grid-row: 1 / 7;
        height: 100%;
        > svg {
            height: 3em;
            widows: 3em;
        }
    }
    .time {
        grid-row: 1 / 2;
        grid-column: 3/4;
    }
    .artist {
        grid-row: 2 / 3;
    }
    .title {
        grid-row: 4 / 5;
    }
    .album {
        grid-row: 3 / 4;
    }
    .station {
        grid-row: 2 / 3;
    }
    .description {
        grid-row: 3 / 5;
    }
    
    .appIcon {
        grid-row: 1;
        grid-column: 1;
        z-index: 50;
        > img {
            height: 100px;
            widows: auto;
            opacity: 0.2;
        }
    }
    .raiseAppIcon {
        z-index: 100;
    }
}

.enabled {
    color: var(--dash-color-active);
}

.blink {
    animation: blink 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink{
    0%{opacity: 0;}
    25%{opacity: .5;}
    50%{opacity: 1;}
    75%{opacity: .5;}
    100%{opacity: 0;}
}
