.wifi {
        .headline {
                text-align: center;
        }
        .code {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30pt;
        }
}