packages/frontend/src/serviceWorker.ts
packages/**/__tests__/**
packages/**/serviceWorker.ts
**/dist/**
**/build/**
**/node_modules/**
**/*.test.{js,jsx,ts,tsx}
**/*.spec.{js,jsx,ts,tsx}
**/config-overrides.js