.card2line {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    overflow: hidden;
    
    .value {
        font-family: Orbitron, serif;
        font-weight: bold;
        font-size: 30pt;
        color: var(--dash-color-active);
    }

    .label {
        font-family: Orbitron, serif;
        font-weight: normal;
        color: var(--dash-color-label);
        font-size: 15px;
        white-space: nowrap;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card {
    border-radius: 10px;
    border: solid 2px #666;
    background-color: rgba(#111, 0.2);
    padding: 10px;
}

.cols1 {
    grid-column: span var(--dash-grid1);
}
.cols2 {

    grid-column: span var(--dash-grid2);
}
.cols3 {
    grid-column: span var(--dash-grid3);
}
.cols4 {
    grid-column: span var(--dash-grid4);
}
.cols6 {
    grid-column: span var(--dash-grid6);
}

.rows1 {
    grid-row: span 1;
}

.rows2 {
    grid-row: span 2;
}