.card2line {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    
    .value {
        font-family: Orbitron, serif;
        font-weight: bold;
        font-size: 30pt;
        color: var(--dash-color-active);
    }

    .label {
        font-family: Orbitron, serif;
        font-weight: normal;
        color: var(--dash-color-label);
        font-size: 15px;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
