.card2line {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    
    .value {
        grid-row: span 3;
        font-family: Orbitron, serif;
        font-weight: bold;
        font-size: 55pt;
        color: var(--dash-color-active);
    }

    .label {
        font-family: Orbitron, serif;
        font-weight: normal;
        color: var(--dash-color-label);
        font-size: 17px;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
