$column: 12;
$remoteColumns: 4;
$rows: 5;
$remoteEnd: calc(#{$remoteColumns} + 1);
$lightColumns: calc(#{$column} - #{$remoteColumns});
$lightStart: #{$remoteEnd};

.scene {
    display: grid;
    grid-template-columns: repeat(#{$column}, 1fr);
    grid-gap: var(--dash-grid-gap);
    .remote {
        grid-column: 1 / #{$remoteEnd};
        grid-gap: var(--dash-grid-gap);
        display: grid;
        grid-template-columns: repeat(#{$remoteColumns}, 1fr);
        grid-template-rows: repeat(#{$rows}, 1fr) ;
    }
    .lights {
        grid-gap: var(--dash-grid-gap);
        display: grid;
        grid-column: #{$lightStart} / calc(#{$column} + 1);
        grid-template-columns: repeat(#{$lightColumns}, 1fr);
        grid-template-rows: repeat(#{$rows}, 1fr);
    }
    .active {
        color: var(--dash-color-active);
    }
    .device {
        align-content: center;
    }
}

.light {
    padding: 10px;
    display : grid;
    grid-template-columns: 50px 1fr;
}

.mqttBase { 
    grid-column: span 2;
    display: grid;
    grid-template-rows: 1fr 25px;
    border-radius: 10px;
    border: solid 2px #666;
    background-color: rgba(#111, 0.2);
    padding: 10px;
    font-size: 25px;
    .center {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mqttLight {
    grid-column: span 4;
}

.activeDevice {
    color: var(--dash-color-active);
}