.streams {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--dash-grid-gap);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: var(--dash-color-active);
}

.singleStream {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.show {
    font-size:20pt;
}

.channel > img {
    height: 70px;
}