.App {
  display: grid;
  grid-template-columns: 1fr 100px;
  background-image: radial-gradient( circle at top left,#123, #234);
  color: var(--dash-color-inactive);
  width: 100vw;
  height: 100vh; 
  grid-gap: var(--dash-grid-gap);
  .info {
    display: grid;
    grid-template-rows: 120px 1fr ;
    grid-gap: var(--dash-grid-gap);
  }
}

.dark {
  background-image: none;
  background-color: black;
}