.App {
  display: grid;
  grid-template-rows: 125px 1fr 80px;
  background-color: var(--dash-color-background);
  color: var(--dash-color-inactive);
  width: 100vw;
  height: 100vh; 
  grid-gap: var(--dash-grid-gap);
}