.controller {
    display:grid;
    grid-template-rows: 1fr 1fr 100px;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--dash-grid-gap);
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mediaInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    grid-gap: var(--dash-grid-gap);
    .center {
        grid-row: span 3;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .label {
        font-size: 20pt;
        color: var(--dash-color-inactive);
        border-bottom: 1px solid;
    }
    .info {
        color: var(--dash-color-active);
    }
}

.enabled {
    color: var(--dash-color-active);
}

.avcenter {
    display: grid;
    grid-template-columns: 1fr 120px;
    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Orbitron, serif;
        font-weight: bold;
        font-size: 30pt;
        color: var(--dash-color-active);
    }
}